/* eslint-disable */
export default {
  user: {
    user: { user: { username: 'Guest', userId: 'guest' }, validated: false },
    userId: 'guest',
    username: 'guest',
    validated: false,
    userInit: false,
    alert: false,
  },
  app: {
    cfg: {
      logoTitle: 'DataBreeze',
      logoClass: 'fa fa-database dbz',
      homeUrl: 'http://localhost',
      homeLabel: 'DataBreeze',
      fetch: {
        apiHost: 'http://localhost',
        apiSourcePath: '/api/s/',
        apiUserPath: '/api/u/',
      },
      s3: {
        host: 'https://s3-us-west-1.amazonaws.com/[yourbucketname]/[yourPath]/',
      },
    },
    showLoginNew: false,
    key: 'value',
  },
  defaultSource: 'spot',
  source: {
    sources: {
      current: { source: 'all' },
      all: { source: 'all', cfg: { menu: false } },
      spot: { source: 'spot', offset: 0, record: {}, records: [], listView: 'index',
              cfg: { title: 'Spot', titlePlural: 'Spots', detail: 'DataBreeze Spot', iconClass: 'fa fa-map-marker', menu: { show: true, order: 8 } },
      },
      photo: { source: 'photo',
               cfg: { title: 'Photo', titlePlural: 'Photos', iconClass: 'fa fa-picture-o', menu: { show: true, order: 4} },
      },
      fish: { source: 'fish',
              cfg: { title: 'Fish', titlePlural: 'Fishes', iconClass: 'vs vs-fish', menu: { show: true, order: 22 }, view: {'new': false} },
      },
      user: { source: 'user',
              cfg: { title: 'User', titlePlural: 'Users', detail: 'DataBreeze User', iconClass: 'fa fa-user', menu: { show: true, order: 6 }, view: { 'new': false } },
      },
    },
  },
};
